.SmallBanner
  display: flex
  flex-direction: row
  max-width: 588px
  max-height: 300px
  border: 1px solid rgba(18, 34, 88, 0.12)
  border-radius: 16px
  &Img
    max-width: 469px
    max-height: 207px